<html>
  <head>
  
    <!-- Copyright ©︎, 2020-2021, Yoshinobusekiyu K.K. All rights reserved. -->
    
    <meta charset="utf-8">
    <title>motorlab-aframe</title>
    
    <script src="https://raw.githubusercontent.com/yoshinobu-sekiyu/edeal/master/aframe.min.js"></script>
    <script type="text/javascript">
    
	  AFRAME.registerComponent("mylink", {
      init: function() {
        this.el.addEventListener("click", (e)=> {
          window.location = this.data.href;
        })
      }
    })
    </script>
    
    
  </head>
  <body>
  
    <a-scene>
      <a-assets>
        <img id="ceillight" src="https://raw.githubusercontent.com/yoshinobu-sekiyu/edeal/gh-pages/ceillight.jpeg">
        <img id="stove" src="https://raw.githubusercontent.com/yoshinobu-sekiyu/edeal/gh-pages/stove.jpeg">
        <img id="woodboard" src="https://raw.githubusercontent.com/yoshinobu-sekiyu/edeal/gh-pages/woodboard.jpeg">
        <img id="ventilator" src="https://raw.githubusercontent.com/yoshinobu-sekiyu/edeal/gh-pages/ventilator.jpeg">
        <img id="toWorkers" src="https://raw.githubusercontent.com/yoshinobu-sekiyu/edeal/gh-pages/toWorkers.jpeg">
        <img id="workersMenu" src="https://raw.githubusercontent.com/yoshinobu-sekiyu/edeal/gh-pages/workersMenu.jpeg">
        <img id="toClients" src="https://raw.githubusercontent.com/yoshinobu-sekiyu/edeal/gh-pages/toClients.jpeg">
        <img id="clientsMenu" src="https://raw.githubusercontent.com/yoshinobu-sekiyu/edeal/gh-pages/clientsMenu.jpeg">
        <img id="advertisement" src="https://raw.githubusercontent.com/yoshinobu-sekiyu/edeal/gh-pages/advertisement.jpeg">
        
      </a-assets>
      
      
      <!-- ceiling -->
      <a-entity material="src:#woodpanel; repeat:4; metalness:0;" position="0 8 0" rotation="90 0 0" geometry="primitive:plane;width:10;height:10">
      </a-entity>
      <a-entity material="src:#woodpanel; repeat:4; metalness:0;" position="0 8.01 0" rotation="-90 0 0" geometry="primitive:plane;width:10;height:10">
      </a-entity>
      
      <!-- ceillight -->
      <a-entity material="src:#ceillight; repeat:1; metalness:0;" position="0 7.8 0" rotation="90 0 0" geometry="primitive:plane;width:1.8;height:5.5">
      </a-entity>
      
      <!-- roomGround -->
      <a-entity material="src:#woodpanel; repeat:4; metalness:0;" position="0 0 0" rotation="-90 0 0" geometry="primitive:plane;width:10;height:10">
      </a-entity>
      
      <!-- ground -->
      <a-entity material="src:#ground; repeat:500; metalness:0;" position="0 -0.1 0" rotation="-90 0 0" geometry="primitive:plane;width:1000;height:1000">
      </a-entity>
      
        
      <!-- ventilator -->
      <a-entity material="src:#ventilator" position="2.4 4.3 -3.7" rotation="0 0 0" geometry="primitive:plane;width:1.5;height:1.5">
      </a-entity>
      
      
      
      <!-- stove -->
      <a-entity material="src:#stove" position="2.4 0.75 3.4" rotation="0 180 0" geometry="primitive:plane;width:1.5;height:1.5">
      </a-entity>
      
      <!-- toWorkers -->
      <a-entity material="src:#toWorkers" position="0 6.15 3.4" rotation="30 180 0" geometry="primitive:plane;width:4.62;height:1.136">
      </a-entity>
      
      <!-- workersMenu -->
      <a-entity material="src:#workersMenu" position="0 3.35 3.4" rotation="0 180 0" geometry="primitive:plane;width:5.62;height:3.136">
      </a-entity>
      
      <!-- toClients -->
      <a-entity material="src:#toClients" position="3.4 6.15 0" rotation="30 -90 0" geometry="primitive:plane;width:4.62;height:1.136">
      </a-entity>
      
      <!-- clientsMenu -->
      <a-entity material="src:#clientsMenu" position="3.4 3.35 0" rotation="0 -90 0" geometry="primitive:plane;width:5.62;height:3.136">
      </a-entity>
      
      
      <!-- walls -->
      <a-plane material="src:#woodpanel" rotation="0 180 0" position="0 4 5" geometry="primitive:plane;width:10;height:8"></a-plane>
      <a-plane material="src:#woodpanel" rotation="0 0 0" position="0 4 5.01" geometry="primitive:plane;width:10;height:8"></a-plane>
      
      <a-plane material="src:#woodpanel" rotation="0 -90 0" position="5 4 0" geometry="primitive:plane;width:10;height:8"></a-plane>
      <a-plane material="src:#woodpanel" rotation="0 90 0" position="5.01 4 0" geometry="primitive:plane;width:10;height:8"></a-plane>
      
      <a-plane material="src:#woodpanel" rotation="0 0 0" position="0 4 -5" geometry="primitive:plane;width:10;height:8"></a-plane>
      <a-plane material="src:#woodpanel" rotation="0 180 0" position="0 4 -5.01" geometry="primitive:plane;width:10;height:8"></a-plane>
      
      <a-plane material="src:#woodpanel" rotation="0 90 0" position="-5 4 0" geometry="primitive:plane;width:10;height:8"></a-plane>
      <a-plane material="src:#woodpanel" rotation="0 -90 0" position="-5.01 4 0" geometry="primitive:plane;width:10;height:8"></a-plane>
      
      
      <!-- Second-room -->
      
      <a-plane material="src:#woodpanel" rotation="0 90 0" position="-15 4 0" geometry="primitive:plane;width:10;height:8"></a-plane>
      
      
      <a-plane material="src:#woodpanel" rotation="0 -90 0" position="-15.01 4 0" geometry="primitive:plane;width:10;height:8"></a-plane>
      
      
      <a-plane material="src:#woodpanel" rotation="0 -90 0" position="-5.01 4 0" geometry="primitive:plane;width:10;height:8"></a-plane>
      
      <a-plane material="src:#woodpanel" rotation="0 0 0" position="-10 4 -5" geometry="primitive:plane;width:10;height:8"></a-plane>
      
      <a-plane material="src:#woodpanel" rotation="0 180 0" position="-10 4 -5.01" geometry="primitive:plane;width:10;height:8"></a-plane>
      
      
      <a-plane material="src:#woodpanel" rotation="0 180 0" position="-10 4 5" geometry="primitive:plane;width:10;height:8"></a-plane>
      
      <a-plane material="src:#woodpanel" rotation="0 0 0" position="-10 4 5.01" geometry="primitive:plane;width:10;height:8"></a-plane>
      
      
      <a-entity material="src:#woodpanel; repeat:4; metalness:0;" position="-10 8 0" rotation="90 0 0" geometry="primitive:plane;width:10;height:10">
      </a-entity>
      
      
      <a-entity material="src:#woodpanel; repeat:4; metalness:0;" position="-10 0 0" rotation="-90 0 0" geometry="primitive:plane;width:10;height:10">
      </a-entity>
      
      <a-entity material="src:#woodpanel; repeat:4; metalness:0;" position="-10 8.01 0" rotation="-90 0 0" geometry="primitive:plane;width:10;height:10">
      </a-entity>
      
      
      <!-- Cameras -->
      <a-entity camera="active: true" position="0 1.6 0" look-controls wasd-controls>
        <a-cursor></a-cursor>
      </a-entity>
      
    </a-scene>
    
      
  </body>
</html>
